@import "leaflet/dist/leaflet.css";

.map-container {
  width: 100%;
  border-radius: 14px;
  overflow: hidden;
  border: 1px solid #d8dde6;
  background: #f6f8fb;
}

.leaflet-wrapper {
  width: 100%;
  height: 100%;
}

.map-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #596273;
  padding: 12px;
}


